<div class="container">
  <app-user-card
    *ngFor="let item of data; let i = index"
    [data]="item"
    (op)="setIsEditing(item)"
  ></app-user-card>

  <div class="modal" *ngIf="isEditing">
    <div class="modal-content">
      <button class="close" (click)="isEditing = false">×</button>
      <h2>Edit User Info</h2>
      <input type="text" placeholder="Name" [(ngModel)]="name" />
      <input type="number" placeholder="Age" [(ngModel)]="age" />
      <input type="email" placeholder="Email" [(ngModel)]="email" />
      <input type="number" placeholder="Phone Number" [(ngModel)]="phoneno" />
      <button class="btn" (click)="set()">
        <p>Save</p>
      </button>
    </div>
  </div>
</div>
